:root {
    --colorError: red;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

/* Book card */
article.card {
    h3, h4 {
        display: inline-block;
        margin: 0;
    }
    h4:before { content: '('; }
    h4:after { content: ')'; }

    header+p {
        margin-top: 0;
    }
}

#error {
    border: thick solid var(--colorError);
    border-radius: 1rem;
    padding: 0 1rem;
}