:root {
    --colorError: red;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

#error {
    border: thick solid var(--colorError);
    border-radius: 1rem;
    padding: 0 1rem;
}